<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.mapper.AccountMapper">

    <insert id="insertAccount" parameterType="account">
        insert into seata_account.account (id, commodity_code, count) VALUES (#{id},#{commodityCode},#{count})
    </insert>
</mapper>